/* For the international students: we work as much as possible with rem values. If you look at the the reset_plus.css file, you'll see that we applied a CSS rule so that 1rem equals 10px. This is easy to work with */

/* We always follow the Mobile First design principle. This means we start with building the mobile version of the site */

/* Using media queries from certain points on (specified in pixels) we add extra layers of style to create a responsive end-result. An example of a media query:

@media (min-width: 900px) {}

*/
header{
  position: absolute;
}
.lijn{
 border: .5rem solid black;
 height: 0.1rem;
 width: 120vw;
 transform: rotate(20deg);
 margin-top: 30rem;
 margin-left: -10rem;
 animation: infinite;
 animation-name: example;
 animation-duration: 60s;
}

@keyframes example {
  0%    {margin-top: 30rem;}
  33%   {margin-top: 20rem;}
  66%   {margin-top: 40rem;}
  100%  {margin-top: 30rem;}
}
/*------------------------------------------------------------------------------*/
main{
  /*display: none;*/
}
h1{
  font-size: 5rem;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 5rem;
}
h2{
  font-size: 2.5rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
}
a{
  position: relative;
  text-decoration: none;
  color: black;
  text-align: center;
  /*border: 1rem solid black;*/
  height: 30rem;
  margin-bottom: 5rem;
}
img{
  /*display: none;*/
  height: 25rem;
  width: 40rem;
  border: 1rem ridge black;
  border-radius: 5%
}
img:hover{
  border: white ;
}
span{
  display:block;
}
.grid{
  padding: 5rem;
  grid-gap: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
}
