/* dragula-related styles */
.gu-mirror{position:fixed!important;margin:0!important;z-index:9999!important;opacity:.8;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";filter:alpha(opacity=80)}.gu-hide{display:none!important}.gu-unselectable{-webkit-user-select:none!important;-moz-user-select:none!important;-ms-user-select:none!important;user-select:none!important}.gu-transit{opacity:.2;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";filter:alpha(opacity=20)}
/* end of dragula-related styles */
body {

	font-size: 3rem;
	background-color: #f7fff6;
	font-family: 'Spectral', serif;
	background-size: cover;
	background-repeat: no-repeat;
	background-size: 40rem;
	background-image: url(books.jpg);
	background-size: cover;
}
body::-webkit-scrollbar {
    display: none;
}
.nouns p, .adjectives p, .punctuationMarks p, .poem p{
	width: 15rem;
	/*border: .1rem solid black;*/
	/*border-radius: .5rem;*/
	padding: .5rem;
	margin: 1rem;
	text-align: center;
	color: white;
	background-color: rgba(60,61,77,.7);
	text-transform: uppercase;
}

div {
	touch-action: none;
}
h2 {
	text-align: center;
	padding: 2rem;
	min-height: 10rem;
	background-color: #3C3D4D;
	color: #f7fff6;
	width: 100vw;
	font-weight: 500;
}
h3{
	margin-top: 2rem;
	margin-left: 4rem;
	color: white;
}
main{
	font-size: 2rem;
	width: 80vw;
	margin: auto;
	padding-bottom:15rem;
	}
footer{
	position: fixed;
	bottom: 0rem;
	padding: 2rem;
	width: 100vw;
	background-color: #3C3D4D;
	color: #f7fff6;
}

.max-height{
	height: 20rem;
	overflow: scroll;
}

footer::-webkit-scrollbar {
    display: none;
}

footer h3{
	width: 42rem;
	margin: auto;
	text-align: center;
	margin-bottom: 1rem;
}
.poem{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
	min-height: 12.5rem;
	width: 80vw;
	margin: auto;
	font-size: 2rem;
	border: .1rem solid white;
	border-radius: 1rem;
}
.adjectives, .nouns, .articles, .punctuationMarks{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
	border: 0.1rem outset #93b78b;
	border-radius: 1rem;
	grid-gap: 2rem;
	min-height: 5rem;
	margin: 1rem;
	padding: 2rem;
}
select{
	margin: auto;
	width: 10rem;
	/*margin-bottom: 1rem;*/
	margin-left: 1rem;
	/*padding: 1.5rem;*/
	/*border-radius: .5rem;*/
	font-size: 2rem;
	background-color: #3C3D4D;
	color: #f7fff6;
	border: solid #3C3D4D;
	text-transform: uppercase;
	text-align: center;
}
.paddingh3{
	padding-top: 200px
}
.sticky{
	position: fixed;
	top: 0;
	width: 100vw;
}

.capitalize{
	text-transform: capitalize;
}
.maakplaats{
	height: 10rem;;
}
