@import "reset_plus.scss";

/*----ColorCode----*/
$color-main: #826231;
$color-second: #B13A2C;
$color-accent: #7CA5A3;
/*-----FontSize-----*/
$font-small: 1.6rem;
$font-medium: 2rem;
$font-big: 2.5rem;
$font-ultra: 7vw;
/*----LineHeight----*/
$line-small: 2rem;
$line-medium: 2.5rem;
$line-big: 3.2rem;
$line-ultra: 8vw;

main{
	width: 80vw;
	margin:auto;
}
div{
	margin-bottom: 2rem;

}
h1{
	font-family: turnip-re, serif;
	font-weight: 700;
	font-style: italic;
	font-size: $font-ultra;
	line-height: $line-ultra;
	color: $color-accent;
}
h2{
	font-size: $font-big;
	line-height: $line-big;
	font-family: turnip-re, serif;
	font-weight: 400;
	font-style: italic;
	color: $color-second;
}
p{
	font-size: $font-medium;
	line-height: $line-medium;
	font-family: duos-brush, sans-serif;
	font-weight: 400;
	font-style: normal;
	color: $color-main;
}
.vlak1:hover{
	transition-duration: 1s;
	margin-bottom: 4rem;
	transform:
				scale(1.1)
				translatey(20px);
}
.vlak2:hover{
	transition-duration: .5s;
	/*transform: translatey(200px);
	margin-bottom: 20rem;*/
	padding-top: 20rem;
}
.vlak3:hover{
	transition-duration: .5s;
	margin-bottom: 10rem;
	transform:
						translateX(100px) translatey(100px);
}
.vlak4:hover{
	transition-duration: .5s;
	margin-top: 10rem;
	transform:
						translateX(-100px)
						translatey(-100px);
}
.vlak5:hover{
	transition-duration: .5s;
	transform: scale(1.1);
}
.vlak6:hover{
	transition-duration: .5s;
	padding: 20rem;
}
.vlak7:hover p{
	transition-duration: .5s;
	transform: rotate(360deg);
}
.vlak8:hover p{
	transition-duration: .5s;
	transform: skew(180deg);
}
.vlak9:hover p{
	transition-duration: .5s;
	transform: rotateZ(45deg);
}
.vlak10:hover p{
	transition-duration: .5s;
	transform: rotateZ(-45deg);
}
.vlak11:hover p{
	transition-duration: .5s;
	transform: rotateZ(180deg);
}
button{
	display: block;
	width: 40rem;
	margin: auto;
	padding: 2rem;
	margin-bottom:5rem;
	border-radius: 1rem;
	background-color: $color-main;
	color:$color-accent;
	border: .5rem solid $color-second;
	font-size: $font-medium;
	font-weight: bold;
	visibility: hidden;
	animation-name: buttonani;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}
a{
	text-decoration: none;
}

@keyframes buttonani {
	0%{transform: scale(1)};
	50%{transform: scale(1.1)};
	100%{transform: scale(1)};
}


@media (min-width: 600px){
	main{
		margin-top: 5rem;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
		grid-gap: 2rem;
	}
	.vlak1{
		grid-column: 1/3;
	}
	button{
		visibility: visible;
	}
	.vlak1ab{
		position: absolute;
		top: 350px;
		width: 90%;
		transform: rotate(180deg);

	}
	.vlak2ab{
		position: absolute;
		top: 250px;
		width: 90%;

	}
	.vlak3ab{
		position: absolute;
		top: 150px;
		width: 90%;
		transform: rotate(180deg);

	}
	.vlak4ab{
		position: absolute;
		top: 50px;
		width: 90%;

	}
	.vlak5ab{
		position: absolute;
		top: 350px;
		left: 150px;
		width: 45%;
		transform: rotate(45deg);

	}
	.vlak6ab{
		position: absolute;
		top: 125px;
		width: 30%;
		transform: rotate(90deg);
	}
	.vlak7ab{
		position: absolute;
		top: 225px;
		width: 90%;
		transform: rotate(180deg);
	}
	.vlak8ab{
		position: absolute;
		top: 375px;
		width: 90%;
	}
	.vlak9ab{
		position: absolute;
		top: 275px;
		right: -200px;
		width: 40%;
		transform: rotate(-90deg);
	}
	.vlak10ab{
		position: absolute;
		top: 450px;
		width: 60%;
		transform: rotate(45deg);
	}
	.vlak11ab{
		position: absolute;
		top: 490px;
		width: 90%;
		transform:
							skew(45deg)
							rotate(180deg);
	}
	.buttonab{
		position: absolute;
		left: 5rem;
		bottom: 2rem;
	}
}
